.p-card {
    
    &__wrapper {
        display: flex;
        padding-top: 6.25vw;
        margin-bottom: 6.77vw;
        @include mq() {
            padding-top: 4.79vw;
            margin-bottom: 4.79vw;
        }
        @include mq(sm) {
            padding-top: 5.33vw;
            display: block;
            margin-bottom: 13.33vw;
        }
    }
    
    position: relative;
    width: 50%;
    height: $card-height;
    background-size: cover;
    @include mq() {
        height: $card-responsive-height;
    }
    @include mq(sm) {
        height: $card-responsive-sm-height;
        width: 100%;
        margin-bottom: 5.33vw;
    }

    &--take-out {
        background-image: url("../img/card_bg1.png");
        margin-right: 2.08vw;
        @include mq() {
            margin-right: 2.39vw;
        }
        @include mq(sm) {
            margin-right: 0;
        }
    }
    &--eat-in {
        background-image: url("../img/card_bg2.png");
        margin-left: 2.08vw;
        @include mq() {
            margin-left: 2.39vw;
        }
        @include mq(sm) {
            margin-left: 0;
        }
    }

    a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    &__ttl {
        font-size: 4.16vw;
        font-family: $font-brand;
        padding: 1.04vw;
        color: $font-color-brand;
        font-weight: bold;
        display: inline-block;
        position: relative;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: -1.87vw;
            left: 1.38vw;
            width: 3.28vw;
            border-bottom: solid 7px $border-color-brand;
            @include mq() {
                bottom: -2.63vw;
                width: 4.31vw;
                left: 1.81vw;
            }
            @include mq(sm) {
                display: none;
            }
        }
        @include mq() {
            font-size: 5.27vw;
            padding: 1.19vw;
        }
        @include mq(sm) {
            font-size: 10.93vw;
            padding: 2.66vw;
        }
    }
    &__description {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__sub {
        &-wrapper {
            padding-left: 1.04vw;
            padding-right: 1.04vw;
            padding-top: 0.88vw;
            background-color: rgba(255,255,255,0.7);
            margin: 1.04vw;
            @include mq() {
                padding-left: 1.31vw;
                padding-right: 1.04vw;
                padding-top: 2.39vw;
                margin: 1.43vw;
            }
            @include mq(sm) {
                padding-left: 2.66vw;
                padding-right: 1.04vw;
                padding-top: 5.33vw;
                margin: 2.66vw;
            }
        }
        &-ttl {
            font-size: 24px;
            font-weight: bold;
            @include mq() {
                font-size: 2.87vw;
            }
            @include mq(sm) {
                font-size: 24px;
            }
        }
        &-description {
            font-size: 16px;
            padding-top: 1.45vw;
            padding-bottom: 2.18vw;
            @include mq() {
                padding-top: 2.51vw;
                padding-bottom: 3.71vw;
            }
            @include mq(sm) {
                padding-top: 5.33vw;
                padding-bottom: 6vw;
            }
        }
    }
}