.p-search {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq() {
        padding: 3.8rem 0;
    }
    &__form {
        border-style: solid;
        height: inherit;
        width: 311px;
        margin-right: 11px;
        border-radius: 10px;
        padding: 5px;
    }

    &__button {
        height: inherit;
        padding: 5px 40px;
        border-radius: 10px;
        border-style: solid;
        font-family: $font-default;
        background: linear-gradient(#F2EDE9, #DED8D3);
    }
}