.p-sidebar {//サイドバー全体
    padding-left: 46px;

    &__button--open {
        display: none;
        font-size: 32px;
        font-weight: bold;
        font-family: $font-brand;
        &:hover {
            opacity: .8;
        }
        @include mq() {
            display: block;
            cursor: pointer;
            margin-left: -95px;
            margin-top: 15px;
            height: 30px;
            width: 84px;
        }
        @include mq(sm) {
            font-size: 20px;
            margin-left: -70px;
            margin-top: 20px;
            height: 20px;
            width: 52px;
        }
    }

    &__button--close {
        font-family: $font-brand;
        display: none;
        @include mq() {
            height: $header-height - 123px;
            display: block;
            cursor: pointer;
            font-size: 50px;
            position: absolute;
            top: 10px;
            right: 15px;
            padding-top: 0px;
            margin-bottom: $sidebar-button-close-mb;
            &:hover {
                opacity: .8;
            }
        }
    }

    .widget {//ウィジェット全体
        
        //最初のウィジェット
        &:first-of-type {
            @include mq() {
                padding-top: $header-height;
            }
        }

        .widget-title {//ウィジェットのタイトル
            font-weight: bold;       
            font-size: 24px;
            padding-bottom: 42px;
        }
    
        .menu {//メニュー全体
            padding-bottom: 40px;
            padding-left: 20px;
    
            .menu-item {//メニューのリスト
                font-size: 20px;
                padding-bottom: 23px;
            }
        }
    }
}