.u-mt312vw {
    margin-top: 3.12vw;
}
.u-mt72vw-md {
    @include mq() {
        margin-top: 7.2vw;
    }
}
.u-mt8vw-sm {
    @include mq(sm) {
        margin-top: 8vw;
    }
}

.u-mt0 + .u-mt0 {
    margin-top: 0;
}
.u-mt0-md + .u-mt0-md {
    @include mq() {
        margin-top: 0;
    }
}
.u-mt0-sm + .u-mt0-sm {
    @include mq(sm) {
        margin-top: 0;
    }
}

.u-mt0 + span + .u-mt0 {
    margin-top: 0;
}
.u-mt0-md + span + .u-mt0-md {
    @include mq() {
        margin-top: 0;
    }
}
.u-mt0-sm + span + .u-mt0-sm {
    @include mq(sm) {
        margin-top: 0;
    }
}

.u-mt0vw {
    margin-top: 0;
}