.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header-background-color;
    height: $header-height;
    padding-left: 3vw;
    padding-right: 1.56vw;
    @include mq() {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0 0;
    }
}