.l-sidebar {

    &__wrapper {
        display: flex;
        position: relative;
        &.is_active {
            background-color: $sidebar-opponent-background-color;
        }
    }

    width: $sidebar-width;
    background-color: $sidebar-background-color;
    transition-duration: $sidebar-slide-time;
    @include mq() {
        display: none;
        position: absolute;
        z-index: 100;
        right: -$sidebar-width;
        height: 100%;
    }
    &.is_active {
        display: block;
        @include mq() {
            margin-right: $sidebar-width;
            transition-duration: $sidebar-slide-time;
        }
    }

    &__opponent {
        width: 100%;
        &.is_active {
            @include mq() {
                opacity: 0;
                transition-duration: $sidebar-slide-time;
            }
        }
    }
}