.c-footer-menu {
    &__list {
        font-size: 20px;
        color: $border-color-brand;
        padding-left: 5px;
        & > a {
            color: $border-color-brand;
        }
        &::after {
            content: "";
            border-right: solid 3px $border-color-brand;
            height: 20px;
            padding-right: 5px;
        }
        &:last-child::after {
            content: none;
    }
        &-wrapper {
            display: flex;
            justify-content: center;
            padding-top: 45px;            
        }
    }
}

.c-footer-menu {
    .menu-item {
        font-size: 20px;
        color: $border-color-brand;
        padding-left: 5px;
        & > a {
            color: $border-color-brand;
        }
        &::after {
            content: "";
            border-right: solid 3px $border-color-brand;
            height: 20px;
            padding-right: 5px;
        }
        &:last-child::after {
            content: none;
    }
        &__wrapper {
            display: flex;
            justify-content: center;
            padding-top: 45px;            
        }
    }
}