.navigation {//ページネーション全体
    font-size: 16px;
    font-weight: bold;
    font-family: $font-brand;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 7.81vw;
    margin-bottom: 3.38vw;
    
    @include mq() {
        width: 71.94vw;
        margin-top: 12.58vw;
        margin-bottom: 3.59vw;
    }
    @include mq(sm) {
        width: 85%;
        margin-top: 15vw;
        margin-bottom: 8vw;
    }
    //ページネーションのヘッダーテキスト
    .screen-reader-text {
        font-size: 16px;
        font-weight: normal;
        display: inline;
        @include mq(sm) {
            display: none;
        }
    }

    //ボタンを囲む要素
    .nav-links {
        position: relative;
        text-align: center;
        @include mq(sm) {
            width: 100%;
            margin-top: 100px;
        }
    }
    //ボタン部分
    .page-numbers {
        display: inline-block;
        background-color: #FFF;
        border: solid 1px $border-color-defalut;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        margin-right: 0.6vw;
        &:hover {
            opacity: .8;
            cursor: pointer;
        }

        @include mq() {
            width: 4.19vw;
            height: 4.19vw;
            line-height: 4vw;
            margin-right: 0.6vw;
        }
        @include mq(sm) {
           display: none;
        }
        
        &.current {//現在のページ
            background-color: #3C2B1C;
            color: #FFF;
            &:hover {
                opacity: 1;
                cursor: auto;
            }
        }
        &.prev {//前のページへ遷移するボタン
            border: none;
            @include mq(sm) {
                position: absolute;
                left: 0;
                font-family: $font-default;
                font-weight: normal;
                display: inline-block;
                width: 50px;
                &::after {
                    content: "前へ";
                }
            }
        }
        &.next {//後のページへ遷移するボタン
            border: none;
            @include mq(sm) {
                position: absolute;
                right: 0;
                font-family: $font-default;
                font-weight: normal;
                display: inline-block;
                width: 50px;
                &::before {
                    content: "次へ";
                }
            }
        }
    }
}